


.nav.navbar-nav.navbar-right
{
    
    font-size:20px;
    
}

.title h1
{
    
    
}
.title h3
{
    color: beige
}
#search-grp
{

}
body
{
    font-family: Merriweather
}
#nav-container
{
   margin-top:40px;
   margin-right:80px;
   margin-left:80px;
  margin-bottom:-60px;
    background-color: transparent;
    
}

.logreg
{
            font-size: 30px;
    
    background-color: transparent;
}
.navbar
{
    border: 0px;
}
.navbar.navbar-default
{
    background-color: transparent;
}
#side-bar
{
    border-right: 1px;
    border-right-color: lightgray;
    border-right-style: solid;
}
#grammi
{
    margin-top: -1px;
}
#search-row
{
    margin-top: 5%
}
.modal-content
{

    margin-top: 250px;
    padding: 40px;
}

#required
{
    
    float: left;
    color: red;
    margin-top:7px;
    margin-left:4px;
}
.author
{
    font-size: 13px;
    color: antiquewhite;
}
#loginbtn 
{
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: aliceblue;
}
#navbar-browse
{
    
    
    padding-right:10%;  
    padding-left: 10%;
    padding-top: 2%;
    
}
.navbar-brand
{
    font-size: 30px;
}
#loginbtn:hover
{
    
 color:dimgray;
}
#registerbtn 
{
        border-bottom: 0px;

        border-top: 0px;
    border-left: 0px;
    border-right: 0px;
        color: aliceblue;

}
.text
{
    font-size: 18px;
}
#registerbtn:hover
{
 color:dimgray;   
}
#login-btn, #register-btn
{
    margin-top: 5px;
    margin-right: -6px;
}
#browsebtn
{
 margin-top:80px;   
 font-size: 30px;
}
#browsebtn:hover
{
-webkit-box-shadow: inset -6px -7px 62px -15px rgba(0,0,0,0.75);
-moz-box-shadow: inset -6px -7px 62px -15px rgba(0,0,0,0.75);
box-shadow: inset -6px -7px 62px -15px rgba(0,0,0,0.75);



}
#social-login
{
}
#page-top
{
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 935px;
	width: 100%;
	color: white;
    background: url(../img/book.jpg) no-repeat center top;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#page-bottom
{
 min-height:435px;
 width: 100%;
    
    
}
#icon
{
    
 font-size: 50px;  
   background: rgb(255, 211, 189);
    padding: 45px;
    border-radius: 100%;
    text-align:center;
    color:white;
    
}
.row
{
    display: block;
    	text-align:center;

    
}
#icon-column
{
    padding: 105px;
}
#carousel-example-generic
{
    
 margin-top:100px;   
 padding-left: 10%;
    padding-right: 10%;
    
    padding-bottom: 0px;
}
.carousel-inner
{

    padding-bottom: 100px;
}
.carousel-indicators
{
        bottom: 10px;
    position: relative;
}
